
img{
    height: 25vh;
    width: 19vw;
    margin-left: 130px;
}
h1{
    border: solid;
    text-align: center;
    background-color: rgb(121,45,169);
    color: white;
    height: 6vh;
    width: 500px;
    margin-left: 40%;
    font-size: 20px;
}
#page-summary{
    padding: 0% 6% 0% 6%;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    font-size: small;
}
h4{
    color: rgb(112, 22, 163);
}
h5{
    color: rgb(112, 22, 163);
}
h2{
    color: rgb(112, 22, 163);
}
nav{
    margin-top: 0px;
    display: flex;
    gap: 200px;
    justify-content: center;
    border: solid 2px;
    height:10vh;
    background-color:  rgb(121, 45, 169);
    color: white;
    text-align: center;
    padding-top: 34px;
}
@media screen and (max-width:280px) {
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        gap: 0px;
    }
    nav{
        display: grid;
        gap: 1px;
        justify-content: center;
        border: solid 0px;
        height:35vh;
        width: 330px;
        padding: 0%;
    }

img{
    height: 25vh;
    width: 69vw;
    margin-left: 130px;
}
h1{
    border: solid;
    text-align: center;
    background-color: rgb(121,45,169);
    color: white;
    height: 5vh;
    width: 200px;
    margin-left: 10%;
    font-size: 25px;
}
#page-summary{
    text-align: center;
    margin: 0px;
    font-size: 14px;
}
h4{
    color: rgb(112, 22, 163);
}
h5{
    color: rgb(112, 22, 163);
}
h2{
    color: rgb(112, 22, 163);
    font-size: 20px;
}
}
@media screen and (min-width:360px) and (max-width:480px){
    a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        gap: 0px;
    }
    nav{
        display: grid;
        gap: 1px;
        justify-content: center;
        border: solid 0px;
        height:35vh;
        width: 630px;
        padding: 0%;
    }

img{
    height: 25vh;
    width: 69vw;
    margin-left: 130px;
}
h1{
    border: solid;
    text-align: center;
    background-color: rgb(121,45,169);
    color: white;
    height: 6vh;
    width: 500px;
    margin-left: 10%;
    font-size: 25px;
}
#page-summary{
    text-align: center;
    margin: 0px;
    font-size: 20px;
}
h4{
    color: rgb(112, 22, 163);
}
h5{
    color: rgb(112, 22, 163);
}
h2{
    color: rgb(112, 22, 163);
}
}
@media screen and (min-width:481px) and (max-width:564px){
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        gap: 0px;
    }
    nav{
        display: grid;
        gap: 1px;
        justify-content: center;
        border: solid 0px;
        height:25vh;
        width: 530px;
        padding: 0%;
    }

img{
    height: 15vh;
    width: 44vw;
    margin-left: 50px;
}
h1{
    border: solid;
    text-align: center;
    background-color: rgb(121,45,169);
    color: white;
    height: 5vh;
    width: 200px;
    margin-left: 40%;
    font-size: 25px;
}
#page-summary{
    text-align: center;
    margin: 0px;
    font-size: 14px;
}
h4{
    color: rgb(112, 22, 163);
}
h5{
    color: rgb(112, 22, 163);
}
h2{
    color: rgb(112, 22, 163);
    font-size: 20px;
}
}
@media screen and (min-width:565px) and (max-width:764px){
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        gap: 0px;
    }
    nav{
        display: grid;
        gap: 1px;
        justify-content: center;
        border: solid 0px;
        height:25vh;
        width: 530px;
        padding: 0%;
    }

img{
    height: 15vh;
    width: 44vw;
    margin-left: 50px;
}
h1{
    border: solid;
    text-align: center;
    background-color: rgb(121,45,169);
    color: white;
    height: 5vh;
    width: 200px;
    margin-left: 40%;
    font-size: 25px;
}
#page-summary{
    text-align: center;
    margin: 0px;
    font-size: 14px;
}
h4{
    color: rgb(112, 22, 163);
}
h5{
    color: rgb(112, 22, 163);
}
h2{
    color: rgb(112, 22, 163);
    font-size: 20px;
}
}
@media screen and (min-width:765px) and (max-width:1240px){
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        gap: 0px;
    }
    nav{
        display: grid;
        gap: 1px;
        justify-content: center;
        border: solid 0px;
        height:25vh;
        width: 980px;
        padding: 0%;
    }

img{
    height: 35vh;
    width: 44vw;
    margin-left: 50px;
}
h1{
    border: solid;
    text-align: center;
    background-color: rgb(121,45,169);
    color: white;
    height: 5vh;
    width: 200px;
    margin-left: 40%;
    font-size: 25px;
}
#page-summary{
    text-align: center;
    margin: 0px;
    font-size: 14px;
}
h4{
    color: rgb(112, 22, 163);
}
h5{
    color: rgb(112, 22, 163);
}
h2{
    color: rgb(112, 22, 163);
    font-size: 20px;
}
}
@media screen and (min-width:1241px) and (max-width:1280px){
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        gap: 0px;
    }
    nav{
        display: grid;
        gap: 1px;
        justify-content: center;
        border: solid 0px;
        height:25vh;
        width: 1200px;
        padding: 0%;
    }

img{
    height: 35vh;
    width: 44vw;
    margin-left: 50px;
}
h1{
    border: solid;
    text-align: center;
    background-color: rgb(121,45,169);
    color: white;
    height: 5vh;
    width: 200px;
    margin-left: 40%;
    font-size: 25px;
}
#page-summary{
    text-align: center;
    margin: 0px;
    font-size: 14px;
}
h4{
    color: rgb(112, 22, 163);
}
h5{
    color: rgb(112, 22, 163);
}
h2{
    color: rgb(112, 22, 163);
    font-size: 20px;
}
}